:javascript
  google.load('visualization', '1', {packages: ['corechart', 'table'], language: '#{iso639_locale}'});

- if @questionnaires.future.count.nonzero?
  .panel
    %h3=t :future_consultations
    .panel_contents
      %ul
        = render partial: 'future', collection: current_admin_user.questionnaires.future, as: :questionnaire
- if @questionnaires.current.count.nonzero?
  = render partial: 'current', collection: current_admin_user.questionnaires.current, as: :questionnaire
