:javascript
  google.load('visualization', '1', {language: '#{iso639_locale}'});

- if @questionnaires.future.count.nonzero?
  = render partial: 'future', collection: current_admin_user.questionnaires.future, as: :questionnaire
- if @questionnaires.current.count.nonzero?
  = render partial: 'current', collection: current_admin_user.questionnaires.current, as: :questionnaire
