Bonjour {{name}},

Merci d'avoir participé à la consultation sur le budget 2013 de l'arrondissement du Plateau-Mont-Royal. Votre participation est importante pour nous !

Voici un lien vers une page personnelle avec vos choix budgétaires. Profitez-en pour partager et discuter de vos choix avec vos amis et votre famille.

{{url}}

Si vous avez des questions à propos de la consultation, s'il vous plaît contacter le-plateau-mont-royal@ville.montreal.qc.ca  

Bonne journée,

L'arrondissement du Plateau-Mont-Royal

--
Suivez-nous sur Facebook http://www.facebook.com/leplateaumontroyal
Suivez-nous sur Twitter https://twitter.com/lepmr
Inscrivez-vous à notre infolettre http://bit.ly/KUaDvl
http://ville.montreal.qc.ca/plateau
