ENV['SECRET_TOKEN']          = 'REPLACE_ME'
ENV['AIRBRAKE_API_KEY']      = 'REPLACE_ME'
ENV['AWS_ACCESS_KEY_ID']     = 'REPLACE_ME'
ENV['AWS_SECRET_ACCESS_KEY'] = 'REPLACE_ME'
ENV['BITLY_API_KEY']         = 'REPLACE_ME'
ENV['BITLY_LOGIN']           = 'REPLACE_ME'
ENV['HEROKU_API_KEY']        = 'REPLACE_ME'
ENV['HEROKU_APP']            = 'REPLACE_ME'
ENV['MONGOLAB_URI']          = 'REPLACE_ME'
ENV['GOOGLE_API_KEY']        = 'REPLACE_ME'
ENV['GOOGLE_CLIENT_ID']      = 'REPLACE_ME'
ENV['GOOGLE_CLIENT_SECRET']  = 'REPLACE_ME'
