# @see config/initializers/secret_token.rb
ENV['SECRET_TOKEN'] = '0f335277346092f873dd7e15546fcd65fc44b2192def45cbf0a777c54dce9b2bd896b44d5ace1d4e1ddeacee9bb538de30772a55dfb37584dfeaf507c1fa390f'

# The default From: and Reply-to: addresses.
# @see app/mailers/admin_mailer.rb
# @see app/mailers/notifier.rb
ENV['ACTION_MAILER_FROM'] = 'REPLACE_ME'
ENV['ACTION_MAILER_REPLY_TO'] = 'REPLACE_ME'

# @see config/environments/production.rb
# @see http://guides.rubyonrails.org/action_mailer_basics.html#generating-urls-in-action-mailer-views
ENV['ACTION_MAILER_HOST'] = 'REPLACE_ME'

# Necessary to run a production environment locally. This variable is set by
# Heroku in production.
# @see config/mongoid.yml
ENV['MONGOLAB_URI'] = 'mongodb://127.0.0.1:27017/citizen_budget_development'

# Uncomment the following line to log exceptions to Airbrake when running a
# production environment locally. This variable is set by Heroku in production.
# @see config/initializers/airbrake.rb
# ENV['AIRBRAKE_API_KEY'] = 'REPLACE_ME'

# Running a production environment locally will fail if these are not set.
# @see config/initializers/carrierwave.rb
ENV['AWS_ACCESS_KEY_ID'] = 'REPLACE_ME'
ENV['AWS_SECRET_ACCESS_KEY'] = 'REPLACE_ME'
# The Amazon S3 budget name. You must create a CNAME DNS record to point to the bucket:
# @see http://docs.amazonwebservices.com/AmazonS3/latest/dev/VirtualHosting.html#VirtualHostingCustomURLs
ENV['AWS_DIRECTORY'] = 'REPLACE_ME'

# Uncomment the following lines to integrate Bitly URL shortening.
# @see app/models/bitly.rb
# ENV['BITLY_API_KEY'] = 'REPLACE_ME'
# ENV['BITLY_LOGIN'] = 'REPLACE_ME'

# Uncomment the following lines to integrate Google Analytics.
# @see app/models/google_api_authorization.rb
# ENV['GOOGLE_API_KEY'] = 'REPLACE_ME'
# ENV['GOOGLE_CLIENT_ID'] = 'REPLACE_ME'
# ENV['GOOGLE_CLIENT_SECRET'] = 'REPLACE_ME'
# ENV['GOOGLE_REDIRECT_URI'] = 'http://localhost:3000/oauth2callback'

# Uncomment the following lines to integrate Heroku custom domains.
# @see app/models/heroku_client.rb
# ENV['HEROKU_API_KEY'] = 'REPLACE_ME'
# ENV['HEROKU_APP'] = 'REPLACE_ME'
