.modal.hide.fade(id="#{extra.title.parameterize}_extra")
  .modal-header
    %button.close(type="button" data-dismiss="modal")×
    %h3= extra.title
  .modal-body
    :markdown
      #{extra.extra}
  .modal-footer
    = link_to t('.close'), '#', 'data-dismiss' => 'modal', 'class' => 'btn btn-primary'
