%li.dropdown
  = link_to('#', {'class' => 'dropdown-toggle', 'data-toggle' => 'dropdown'}) do
    =t '.sections'
    %span.caret
  %ul.dropdown-menu
    = render @sections
%li#simulator
  .inner
    .chart-container
      .title=t '.balance'
      .chart
        .bar
        .zero
        .amount= number_to_currency 0
