@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

// Hide
#batch_actions_selector {
  display: none;
}

body.active_admin {
  form {
    // Override
    .has_many {
      padding: 0;
    }

    // Override
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="url"],
    input[type="tel"],
    textarea {
      padding: 5px;
      font-size: 1em;
    }

    // Reset
    input[type="text"][size],
    input[type="number"][size] {
      width: auto;
    }

    // Override
    fieldset > ol > li {
      p.inline-errors {
        text-transform:none;
        color: $error-color;
        font-weight: bold;
        margin:0.3em 0 0 20%;
      }
    }
  }

  // Reset
  form.section,
  .attributes_table.section {
    margin-bottom: inherit;
    background: inherit;
    @include rounded(0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.block-errors {
  color: $error-color;
  font-weight: bold;
}
