// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

$highlight-color: #33f;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/* Active Admin --------------------------------------------------------------*/

body.active_admin {
  form {
    // Override
    .has_many {
      padding: 0;

      h3 {
        margin-bottom: 0.67em;
      }

      .button {
        margin: 1em 0;
      }
    }

    // Override
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="url"],
    input[type="tel"],
    textarea {
      padding: 5px;
      font-size: 1em;
    }

    // Reset
    input[type="text"][size],
    input[type="email"][size],
    input[type="number"] {
      width: auto;
    }

    fieldset.has_many_fields {
      background: transparent;
      @include border-radius(0);
      @include box-shadow(none);
      padding: 0;
      border-bottom: 5px solid #ddd;

      & > ol > li {
        padding: 0;

        &.optional {
          padding: 1em 0;
        }
        &.hidden {
          padding: 0;
        }

        &.boolean label {
          padding-left: 13%;
        }
      }

      li li {
        margin: 1em 0;
      }

      & > ol > li {
        p.inline-hints {
          font-size: 1em;
          margin-top: 0;
        }

        fieldset {
          margin-bottom: 1em;

          ol {
            width: 87%;
            padding-left: 13%;
          }

          &.inline {
            li {
              float: left;
              width: 25%;
            }

            label {
              width: 40%;
            }

            p.inline-hints {
              margin-left: 40%;
            }

            .boolean label {
              width: 100%;
              padding: 0;
            }
          }
        }
      }
    }

    // Override
    fieldset > ol > li {
      p.inline-errors {
        text-transform:none;
        color: $error-color;
        font-weight: bold;
        margin:0.3em 0 0 20%;
      }
    }
  }

  // Reset
  form.section,
  .attributes_table.section {
    margin-bottom: inherit;
    background: inherit;
    @include rounded(0);
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }

  // Fix labels on check boxes, etc.
  .choices-group label {
    font-weight: normal;
  }

  // Override
  .panel {
    .panel_contents {
      padding: 3px 11px 11px 11px;
      h4 {
        font-size: 1em;
        line-height: 1.5em;
        margin-bottom: 1em;
      }
    }
  }

  .sortable {
    cursor: move;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }
}

/* Dashboard -----------------------------------------------------------------*/

body.admin_dashboard {
  .narrow {
    width: 280px;
  }
  .offset {
    margin-left: 280px;
  }
}

/* Summary report ------------------------------------------------------------*/

body.summary {
  p {
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  #main_content h1 {
    margin-bottom: 0.33em;
    font-weight: bold;
    text-align: center;
    span {
      display: block;
      margin-top: 0.57em;
      font-size: 0.58em; // 1.75em
      font-weight: normal;
      text-align: center;
    }
  }
  .attribution {
    font-style: italic;
    text-align: center;
  }

  .blocks {
    margin: 3em auto;
    width: 620px;
  }
  .block {
    float: left;
    height: 90px;
    margin-right: 10px;
    padding: 20px;
    background-color: #eee;
    @include border-radius(5px);
    text-align: center;

    .number {
      margin-bottom: 0.2em;
      color: #0E70E3;
      font: 4em Impact, Helvetica, Arial, sans-serif;
      line-height: 1em;
    }
    .title {
      margin-bottom: 0.33em;
      color: #666;
      font-size: 1.5em;
      font-weight: bold;
    }
    .subtitle {
      color: #666;
      font-style: italic;
    }
  }
  .block-small {
    width: 130px;
  }
  .block-large {
    width: 210px;
  }

  .bars {
    margin: 3em auto;
  }
  .bar {
    height: 45px;
    margin-bottom: 1em;
    padding: 10px 20px;
    background-color: #eee;
    @include border-radius(5px);

    .number {
      float: left;
      margin-right: 10px;
      color: $highlight-color;
      font: 4em Impact, Helvetica, Arial, sans-serif;
      line-height: 1em;
    }
    .title {
      float: left;
      color: #666;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 2.67em;

      span {
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  #main_content h2 {
    font-size: 3em;
    margin-bottom: 0.33em;
    color: #000;
    font-weight: bold;
    text-align: center;
  }

  h3 {
    margin-bottom: 0.67em;
    color: #333;
    font-size: 2em;
    font-weight: bold;

    span {
      display: block;
      margin-top: 5px;
      color: #999;
      font-size: 0.5em;
      font-weight: normal;
      font-style: italic;
    }
  }

  h4 {
    margin: 0.67em 0 0.67em 0;
    padding-top: 0.67em;
    border-top: 5px solid #eee;
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
  }

  h5 {
    color: #000;
    margin-bottom: 1em;

    span {
      display: inline-block;
      width: 20px;
      background-color: #eee;
      @include border-radius(10px);
      text-align: center;
    }
  }

  .question {
    p {
      color: #000;
    }
  }
  .stress {
    h5 span {
      background-color: $highlight-color;
      color: #fff;
    }
  }
  .subdue {
    h5,
    p,
    table {
      color: #666;
    }
  }
  .positive {
    color: #090;
  }
  .negative {
    color: #f00;
  }

  .text {
    font-style: italic;
  }

  .charts {
    margin: 3em auto;
    width: 900px;
  }
  .chart {
    float: left;
    margin-right: 20px;
    text-align: center;
  }
  .chart-small {
    width: 160px;
  }
  .chart-large {
    width: 700px;
  }

  .tables {
    text-align: center;

    table {
      margin: 0 auto 1em;
    }
  }
  table {
    width: auto;
    margin-bottom: 1em;
  }
  th,
  td {
    padding: 0 5px 5px 0;
  }
  th {
    font-weight: normal;
    font-style: italic;
  }
  td {
    font-weight: bold;
  }
}

/* Miscellaneous -------------------------------------------------------------*/

// Fix form input height
#questionnaire_remove_logo_input,
#questionnaire_remove_title_image_input {
  height: auto;
}

// Formtastic class
.fragment {
  display: inline;
}

.block-errors {
  color: $error-color;
  font-weight: bold;
}

.url-with-token {
  width: 400px;
}

.min-width-default {
  display: none;
}

.min-width-768 {
  display: block;
}

/* Bootstrap -----------------------------------------------------------------*/

// Bootstrap .input-prepend
body.active_admin {
  .input-prepend {
    margin-bottom: 5px;

    input {
      margin: 0;
      font-size: 100%;
      vertical-align: middle;
      *overflow: visible;
      line-height: normal;
      font-size: 13px;
      font-weight: normal;
      line-height: 18px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      display: inline-block;
      height: 18px;
      padding: 4px;
      margin-bottom: 9px;
      font-size: 13px;
      line-height: 18px;
      color: #555555;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
         -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
         -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
          -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
           -o-transition: border linear 0.2s, box-shadow linear 0.2s;
              transition: border linear 0.2s, box-shadow linear 0.2s;
      margin-left: 0;

      position: relative;
      margin-bottom: 0;
      *margin-left: 0;
      vertical-align: middle;
      -webkit-border-radius: 0 3px 3px 0;
         -moz-border-radius: 0 3px 3px 0;
              border-radius: 0 3px 3px 0;

      &:focus {
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted \9;
        /* IE6-9 */

        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
           -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

        z-index: 2;
      }
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }
    }

    .add-on {
      display: inline-block;
      width: auto;
      height: 18px;
      min-width: 16px;
      padding: 4px 5px;
      font-weight: normal;
      line-height: 18px;
      text-align: center;
      text-shadow: 0 1px 0 #ffffff;
      vertical-align: middle;
      background-color: #eeeeee;
      border: 1px solid #ccc;
      margin-left: -1px;
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
      margin-right: -1px;

      &:first-child {
        -webkit-border-radius: 3px 0 0 3px;
           -moz-border-radius: 3px 0 0 3px;
                border-radius: 3px 0 0 3px;
      }
    }
  }

  // Bootstrap .clearfix
  .clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
  .clearfix:after{clear:both;}

  // Bootstrap .fade
  .fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
       -moz-transition: opacity 0.15s linear;
        -ms-transition: opacity 0.15s linear;
         -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
  }

  .fade.in {
    opacity: 1;
  }

  // Bootstrap .tooltip
  .tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
  }

  .tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }

  .tooltip.top {
    margin-top: -2px;
    padding-top: 5px; // Reset
  }

  .tooltip.right {
    margin-left: 2px;
  }

  .tooltip.bottom {
    margin-top: 2px;
    padding-bottom: 5px; // Reset
  }

  .tooltip.left {
    margin-left: -2px;
  }

  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000000;
  }

  .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000000;
    border-left: 5px solid transparent;
  }

  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-right: 5px solid #000000;
    border-bottom: 5px solid transparent;
  }

  .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
  }

  .row {
    margin-left: -20px;
    *zoom: 1;
  }

  .row:before,
  .row:after {
    display: table;
    content: "";
  }

  .row:after {
    clear: both;
  }

  /* [class*="span"]{float:left;margin-left:20px;} */
  .span1{float:left;margin-left:20px;width:60px;}
  .span2{float:left;margin-left:20px;width:140px;}
  .span3{float:left;margin-left:20px;width:220px;}
  .span4{float:left;margin-left:20px;width:300px;}
  .span5{float:left;margin-left:20px;width:380px;}
  .span6{float:left;margin-left:20px;width:460px;}
  .span7{float:left;margin-left:20px;width:540px;}
  .span8{float:left;margin-left:20px;width:620px;}
  .span9{float:left;margin-left:20px;width:700px;}
  .span10{float:left;margin-left:20px;width:780px;}
  .span11{float:left;margin-left:20px;width:860px;}
  .span12{float:left;margin-left:20px;width:940px;}

  // Bootstrap icons
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/assets/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
  }

  [class^="icon-"]:last-child,
  [class*=" icon-"]:last-child {
    *margin-left: 0;
  }

  .icon-move{background-position:-168px -72px;}
}