// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

#batch_actions_selector {
  display: none;
}

body.active_admin {
  form {
    .has_many {
      padding: 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="url"],
    input[type="tel"],
    textarea {
      padding: 5px;
      font-size: 1em;
    }

    input[type="text"][size],
    input[type="number"][size] {
      width: auto;
    }

    .actions {
      margin-top: 15px;
      input[type=submit] { margin-right: 10px; }
    }

    fieldset.actions li {
      float:left;
      padding: 0;

      &.cancel {
        a {
          @include light-button; @include icon(#777, 9px);
        }
      }
    }

    fieldset > ol > li {
      p.inline-errors {
        text-transform:none;
        color: $error-color;
        font-weight: bold;
        margin:0.3em 0 0 20%;
      }
    }
  }

  .block-errors {
    color: $error-color;
    font-weight: bold;
  }

  // .section is an Active Admin class, which we need to reset in this case.
  form.section,
  .attributes_table.section {
    margin-bottom: inherit;
    background: inherit;
    @include rounded(0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}