.container {
  margin-top: 2em;
}

/* Header --------------------------------------------------------------------*/

#facebook {
  position: absolute;
  top: 37px;
  right: 250px;
}
#twitter {
  position: absolute;
  top: 37px;
  right: 120px;
}

// @todo we should set the height attribute on the image, so that the nav
// element can determine its distance from the top. For now, we hardcode.
#logo {
  height: 50px;
}

h1,
h2,
legend {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}
h1 {
  margin-bottom: 0.433em;
}

/* Introduction --------------------------------------------------------------*/

#introduction {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 50px;

  p {
    font-size: 1.08em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
}

/* Questionnaire -------------------------------------------------------------*/

.highlight {
  background-color: #ff9;
}

$column-width: 250px;

table {
  margin: 50px 0;
  border-collapse: collapse;
}

th {
  padding: 5px 0;
  border-bottom: 2px solid #000;
  color: #333;
  font-size: 1.08em;
}
th.category {
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;

  a,
  span {
    font-size: 0.92em;
    font-family: helvetica, sans-serif;
    text-transform: none;
    letter-spacing: normal;
  }
}
th.column {
  width: $column-width;
  font-weight: bold;
  text-align: center;
}

td {
  border-bottom: 1px solid #ccc;
}
td.description {
  padding: 15px 10px 15px 0;

  h3 {
    margin: 0;
    color: #000;
    font-size: 1.08em;
    font-weight: bold;
    line-height: 1.5em;

    a,
    span {
      font-size: 0.93em;
      font-weight: normal;
    }
  }

  p {
    margin: 0 0 1em;
    color: #333;
  }
}

.revenue {
  .highlight {
    background-color: #ddf;
  }
}

$widget-margin: 50px;

.widget {
  width: $column-width - $widget-margin * 2;
  margin: 0 $widget-margin;
}
.impact {
  color: #000;
  font-size: 1.08em;
  font-weight: bold;
  padding-bottom: 5px;
  visibility: hidden;
}
.widget-slider .impact {
  padding-top: 10px;
}
.meta {
  cursor: pointer;
  width: $widget-margin * 2;
  padding: 5px 0;
  color: #333;
  text-align: center;
  line-height: 1.5em;
}
.maximum {
  float: right;
  margin-right: -$widget-margin;
}
.minimum {
  margin-left: -$widget-margin;
}
.selected .changed {
  color: #000;
  font-weight: bold;
}

#reminder {
  margin-bottom: 50px;
}

/* Slider widget -------------------------------------------------------------*/

$control-height: 25px;

.control {
  width: 100%;
}
.onoff {
  height: $control-height;
}

.tick {
  position: absolute;
  z-index: 5;
  height: $control-height;
  margin-top: -7px;
  margin-left: -1px; // room for border
  border-right: 1px solid #999;
}
.tick.lowest {
  width: 0;
}
.tick.highest {
  width: $column-width - $widget-margin * 2 + 1;
}
.tick.initial {
  display: none; // hide until positioned
  border-right: 1px solid #666;
}

.ui-slider {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ui-slider-horizontal .ui-slider-handle,
.ui-slider .ui-slider-handle {
  z-index: 5;
  cursor: pointer;
  outline: none;
  top: -3px;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  border: none;
  background: url(/assets/slider_16.png) no-repeat 0 0;
  color: #000;
  font: bold 12px helvetica, sans-serif;
  text-decoration: none;
}
.ui-slider .ui-slider-handle.ui-state-default {
  border: none;
  background: url(/assets/slider_16.png) no-repeat 0 0;
}
.ui-slider .ui-slider-handle.ui-state-active {
  border: none;
  background: url(/assets/slider_16.png) no-repeat 0 -16px;
}
.ui-slider .ui-slider-handle.ui-state-hover {
  border: none;
  background: url(/assets/slider_16.png) no-repeat 0 -16px;
}
.ui-widget-header {
  background: #fff;
}

.ui-slider a.ui-state-hover .tip {
  display: block;
}
.ui-slider a.ui-state-active .tip {
  display: block;
}
.ui-slider .ui-slider-handle .tip {
  position: absolute;
  top: -30px;
  left: -10px;
  width: 34px;
  padding: 4px 0;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
}
.ui-slider .tip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 14px;
  height: 7px;
  background: url(/assets/arrow.gif) no-repeat 0 0;
  margin-left: -7px;
}

/* On/off widget -------------------------------------------------------------*/

label.iPhoneCheckLabelOn.reverse,
label.iOSCheckLabelOn.reverse {
  color: #8b8b8b;
  background: url(/assets/off-reverse.png) no-repeat;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
}

label.iPhoneCheckLabelOff.reverse,
label.iOSCheckLabelOff.reverse {
  color: white;
  background: url(/assets/on-reverse.png) no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

/* Popovers ------------------------------------------------------------------*/

.popover-title {
  display: none;
}

.popover-content {
  p,
  ul,
  ol {
    margin-bottom: 1em;
  }
}

.embed {
  width: 567px;
  margin: -300px 0 0 -283px;
  border: none;
  background-color: transparent;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .speakerdeck-iframe {
    width: 567px !important;
    height: 500px !important; // 11x8.5 aspect ratio plus 62
  }
}

/* Identification ------------------------------------------------------------*/

legend span {
  padding-left: 160px;
}
.formError .formErrorContent {
  width: 200px;
}

/* Footer --------------------------------------------------------------------*/

footer {
  color: #999;
  text-align: center;
  font-style: italic;
  margin-bottom: 1em;
}

/* Disabled ------------------------------------------------------------------*/

.disabled {
  .meta {
    cursor: auto;
  }
  .ui-slider-horizontal .ui-slider-handle,
  .ui-slider .ui-slider-handle {
    cursor: default;
  }
}

/* Dashboard -----------------------------------------------------------------*/

.message {
  padding: 10px 0;
  background-color: #666;
  color: #fff;
  font-size: 1.08em;
  text-align: center;
}

#whitespace {
  display: none;
}

/* Charts --------------------------------------------------------------------*/

.chart {
  position: relative;
  width: 199px;
  font-size: 0.85em;
  line-height: 1.5em;
  text-align: center;
}
.bar {
  position: absolute;
  left: 100px;
  width: 0;
  height: 16px;
  margin-top: 2px;
  background-color: #000;
}
.zero {
  position: absolute;
  left: 99px;
  width: 1px;
  height: 20px;
  background-color: #000;
}
.amount {
  position: absolute;
  width: 199px;
  top: 36px;
  left: 0;
  color: #000;
  text-align: center;
}
.positive {
  color: #000;
}
.negative {
  color: #f00;
}

/* Navigation ----------------------------------------------------------------*/
/* http://twitter.github.com/bootstrap/assets/css/docs.css */

.dropdown-menu {
  span {
    float: right;
    margin-top: -1px;
    padding-left: 10px;
    font-weight: bold;
  }
}

nav {
  width: 938px;
  height: 50px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  .nav {
    margin-bottom: 0;

    & > li > a,
    .inner {
      margin: 0;
      padding-top: 18px; // override
      padding-bottom: 18px; // override
      padding-right: 12px; // for .inner
      padding-left: 12px; // for .inner
      border-left: 1px solid #f5f5f5;
      border-right: 1px solid #e5e5e5;
      line-height: 14px; // for .inner
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    .inner {
      padding: 0 10px 0;
      height: 50px;
    }

    & > .active {
      & > a,
      & > a:hover,
      .inner {
        padding-left: 13px;
        color: #777;
        background-color: #e9e9e9;
        border-right-color: #ddd;
        border-left: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
        -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.05);

        .caret {
          border-top-color: #777;
        }
      }
    }

    & > li:first-child {
      & > a,
      & > a:hover,
      .inner {
        border-left: 0;
        padding-left: 12px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
      }
    }

    & > li:last-child {
      & > a,
      .inner {
        border-right: 0;
      }
    }

    .dropdown-menu {
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;  
    }
  }
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */

    .nav {
      width: 938px;
      margin: 0 auto;
      padding: 0 1px;
    }
  }

  .message-fixed {
    position: fixed;
    z-index: 10;
    top: 51px;
    left: 0;
    right: 0;
  }

  nav .nav > li:first-child {
    & > a,
    & > a:hover,
    .inner {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}

/* Responsive ----------------------------------------------------------------*/

// @todo

/* Bootstrap IE6 -------------------------------------------------------------*/

/* blockquote small:before{content:'\2014 \00A0';} */
.lt-ie7 blockquote small:before{content:"";}
/* [class*="span"]{float:left;margin-left:20px;} */
.lt-ie7 .span1{float:left;margin-left:20px;}
.lt-ie7 .span2{float:left;margin-left:20px;}
.lt-ie7 .span3{float:left;margin-left:20px;}
.lt-ie7 .span4{float:left;margin-left:20px;}
.lt-ie7 .span5{float:left;margin-left:20px;}
.lt-ie7 .span6{float:left;margin-left:20px;}
.lt-ie7 .span7{float:left;margin-left:20px;}
.lt-ie7 .span8{float:left;margin-left:20px;}
.lt-ie7 .span9{float:left;margin-left:20px;}
.lt-ie7 .span10{float:left;margin-left:20px;}
.lt-ie7 .span11{float:left;margin-left:20px;}
.lt-ie7 .span12{float:left;margin-left:20px;}

.lt-ie7 .icon-info-sign {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(/assets/glyphicons-halflings.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
  &:last-child {
    *margin-left: 0;
  }
}
